{% comment %}
** Thin Banner Image - homepage partial **
- Draggable section
{% endcomment %}


{% assign id = section.id %}
{% assign banner_link = section.settings.banner_link %}
{% assign wide_display = section.settings.wide_display %}
{% assign image = section.settings.image %}
{% assign image_mobile = section.settings.image_mobile %}


{% if wide_display == false %}
<div class="container">
  <div class="sixteen columns">
{% endif %}
    
 	<div id="banner-{{id}}" class="homepage_content section {{ text_alignment }} full-width--{{ wide_display }} clearfix">
      {% if image %}
       <a href="{{ banner_link }}">
          {% include 'image-element-mobile', image: image, image_mobile: image_mobile, alt: image.alt, stretch_width: true %}
  		</a>
      {% endif %}
     </div>
    
 {% if wide_display == false %}
  </div>
</div>
{% endif %}


{% schema %}
  {
    "name": "Thin Banner promotion",
    "settings": [
  	  {
        "type": "checkbox",
        "id": "wide_display",
        "label": "Wide display",
        "default": true
      },
      {
        "type": "url",
        "id": "banner_link",
        "label": "Banner link"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Banner Image"
      },
      {
        "type": "image_picker",
        "id": "image_mobile",
        "label": "Image (Mobile)"
      }
      
    ],
    "presets": [
      {
        "name": "Thin Banner Promotion",
        "category": "Image"
      	
      }
    ]
  }
{% endschema %}

